/* src/components/ShowMoreFlats.css */
.show-more-properties-container {
    padding: 20px;
  }
  
  .properties-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .pagination-controls button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 16px;
  }
  